<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.francetvinfo.fr%2Fimage%2F75e5ltfrp-b5f3%2F1500%2F843%2F12195941.jpg&f=1&nofb=1" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>