<div class="p-16">
    <p class="text-center">Vous connaissez les règles !</p>
    <div class="gridTest p-16" [style.grid-template-columns]="nombreColonnes" [style.grid-template-rows]="nombreLignes">
        <app-game-card class="p-16" *ngFor="let c of cards; let idx=index" [data]="c" (cardClicked)="cardClicked(idx)">
        </app-game-card>
    </div>
    <div class='text-center options'>
        <app-memory-options (nbCartes)="majNbCartes($event)" (click)="openedOptions()"></app-memory-options>
        <button mat-raised-button (click)="startGame()">Lancer le jeu</button>
    </div>
</div>