<div class="center">
    <div class="card" style="width: 80rem;">
        <div class="card-body">
            <h5 class="card-title">Exercice 1</h5>
            <p class="card-text">//TOTO Mettre l'énoncé de l'exercice 1</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Remarque 1</li>
            <li class="list-group-item">Remarque 2</li>
            <li class="list-group-item">Remarque 3</li>
        </ul>
        <div class="card-body">
            <a href="/exercice1" class="card-link">
                Précédant</a>
            <a href="/exercice2" class="card-link">Suivant</a>
        </div>
    </div>