<style>
    .center {
        position: relative;
        left: 50%;
        top: 35%;
        transform: translate(-50%, -50%);
        padding: 15%;
    }
</style>

<div class="center">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Exercice 6</h5>
            <p class="card-text">//TOTO Mettre l'énoncé de l'exercice 6</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Remarque 1</li>
            <li class="list-group-item">Remarque 2</li>
            <li class="list-group-item">Remarque 3</li>
        </ul>
        <div class="card-body">
            <a href="/exercice5" class="card-link">
                Précédant</a>
            <a href="/exercice6" class="card-link">Suivant</a>
        </div>
    </div>